/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: url("/assets/countdown.jpg");
    background-position: center;
}
  /* body{
	color:black;
    background: url("/assets/countdown.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
    background-size:100% 100%; 
  }
*/